@(sunInfo:  services.SunInfo, weatherInfo: services.WeatherInfo, requests: Int, roomInfo: services.RoomInfo)
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <link rel="shortcut icon" type="image/png"
        href="@routes.Assets.versioned("images/favicon.png")">
    </head>

    <body>
        <h1>Hello Play</h1>
        <div>Sunrise time: @sunInfo.sunrise</div> 
        <div>Sunset time: @sunInfo.sunset</div>
        <div>Temperature: @weatherInfo.temperature</div>
        <div>Atmospheric pressure: @weatherInfo.pressure</div>
        <div>Humidity: @weatherInfo.humidity</div>
        
        <div>Requests: @requests</div>
        <div><h3>==== Room info ===</h3></div
        <div>Detected person: @roomInfo.name</div>
        <div>Apartment: @roomInfo.apartmentNbr</div>
        <div>Owner: @roomInfo.habitant</div>
        <div>Room: @roomInfo.roomNumber - @roomInfo.roomType</div>
        <div>Room status: @roomInfo.status</div>
    </body>
</html>
  